%h1 Listing inventories

%br
%table
  %tr
    %th Stuff
    %th In stock
    %th Comment

  - @inventories.each do |inventory|
    %tr
      %td= inventory.stuff_id
      %td= inventory.in_stock
      %td= inventory.comment
