connection: &connection
  adapter: postgresql
  encoding: unicode
  host:     localhost
  pool: 5
  username: postgres
  password: tarnawski

development:
  <<: *connection
  database: stuff_development

test: &test
  <<: *connection
  database: stuff_test
